# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
!folder/
folder/*


File-System*
How-Does-Kernel-Handl*
How-does-OS-load-File*
RAM-File-*
TEST-File*
Tasks-assignment-Kernel-Vir*
VFS-system-ca*
VM*
Virtual-Memory-Allocation-*
Vnode-Special-*
Weather-Chat*
eCommerce-Websit*
page-frame*


# misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
